<header>
    <div class="head-logo">
        <h1>Decode Blog</h1>
    </div>
    <div class="head-menu">
        <input type="text" placeholder="Поиск по блогам">
        <button class="head-search">
            <img src="/images/icons/search.png" alt="">
            <p>Найти</p>
        </button>
    </div>
    <div class="head-buttons">
        <a href="">Регистрация</a>
        <a href="/login">Вход</a>
    </div>
</header>