<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <form action="" class="form">
                <h2>Вход</h2>
                <fieldset class="fieldset">
                    <input type="email" placeholder="Введите email">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="password" placeholder="Введите пароль">
                </fieldset>
                <button>Войти</button>
                <p>У вас нету аккаунта? <a href="">Зарегистрироваться</a></p>
            </form>
        </div>
    </div>
</body>
</html>