<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <form action="/api/signin" method="post" class="form">
                <h2>Вход</h2>
                <fieldset class="fieldset">
                    <input type="email" placeholder="Введите email" name="email">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="password" placeholder="Введите пароль" name="password">
                </fieldset>
                <button type="submit">Войти</button>
                <p>У вас нету аккаунта? <a href="/register">Зарегистрироваться</a></p>
                <br>
                <p>Войти с помощью: <a href="/api/auth/google">Google</a>, <a href="/api/auth/github">Github</a></p>
                
            </form>
        </div>
    </div>
    <%- include('partials/scripts.ejs') %>
</body>
</html>
