<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="main-content main-content-new-blog">
                <form action="" class="form-new-blog">
                    <h2>Новый блог</h2>
                    <fieldset class="fieldset-new-blog">
                        <input type="text" placeholder="Введите заголовок блога" name="title">
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <select name="category" id="">
                            <%
                                categories.forEach(category => {
                            %>
                                <option value=""><%= category.name %></option>
                            <%
                                })
                            %>
                        </select>
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <label class="input-file">
                            <input type="file" name="blogImg" placeholder="Выберите картинку">
                        </label>
                    </fieldset>
                    <fieldset class="fieldset-new-blog">
                        <input type="text" placeholder="Введите описание блога" name="description">
                    </fieldset>
                    <button type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>