.my-blogs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.my-blogs-title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.my-blogs-title button {
    width: 120px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #00A2DC;
    color: white;
    cursor: pointer;
}

.profile-card {
    width: calc(20% - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 43px 30px 21px 30px;
    height: fit-content;
    text-align: center;
}

.profile-card img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.profile-card h4 {
    font-size: 16px;
    line-height: 46px;
    font-weight: 500;
}

.profile-card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.profile-card a {
    text-decoration: none;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
    padding-top: 17px;
    box-sizing: border-box;
}

.edit-btn {
    background-color: #00A2DC;
    margin-bottom: 30px;
}

.logout-btn {
    background-color: lightgray;
    margin-bottom: 35px;
}

.blog-title-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.blog-title-more > h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
}

.card-more {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.card-more img {
    margin-right: 7px;
}

.more-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    width: fit-content;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 2;
    transform: translateY(5%);
    display: none;
}

.menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    padding: 10px 14px;
    background-color: white;
    transition: 0.1s linear;
}

.menu-item:hover {
    background-color: lightgrey;
} 

.menu-item a {
    text-decoration: none;
}

.menu-item a:visited {
    color: black;
}

.menu-item-delete p{
    color: red;
}

.open-more-menu {
    display: block !important;
}