.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 100px;
}

.form h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 40px;
}

.fieldset {
    margin-bottom: 18px;
}

.fieldset input {
    width: 320px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
    padding-left: 21px;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

.form button {
    width: 320px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #00A2DC;
    color: white;
    cursor: pointer;
    margin-bottom: 18px;
}